* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/*Simple body background colour*/
body {
    background-color: black;
}

/*Stype the head*/
.head {
    display: flex;
    font-family: 'Rubik';
    font-size: 50px;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    border: 2px solid hsl(33, 100%, 75%);
    border-radius: 5px;
    height: 100px;
}

/*Parameter to the button container*/
#controls {
    display: flex;
    justify-content: center;
}

/*Style the button*/
#controls #btn1 {
    font-family: 'Rubik';
    font-size: 20px;
    padding: 10px;
    background-color: bisque;
    border: 2px solid hsl(33, 100%, 75%);
    border-radius: 5px;
}

/*Hover effect to the click button*/
#controls #btn1:hover {
    background-color:  hsl(33, 100%, 75%);
    transition: .5s background-color;
}

/*Style the message box*/
.message {
    display: flex;
    padding: 50px;
    margin-top: 40px;
    border: 2px solid hsl(33, 100%, 75%);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 1000px;
    height: 500px;
    background-color: bisque;
}

/*Style the message text*/
.output {
    font-family: 'Damion';
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 6px;
}