* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/*Body background colour*/
body {
    background-image: url(energy_flow.jpg);
    background-position: top;
    background-size:cover;
    background-color: black;
    background-repeat: no-repeat;
}

/*Stype the head*/
.head {
    display: flex;
    font-family: 'Damion';
    font-size: 5vh;
    letter-spacing: 1vw;
    font-weight: 300;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: #03396c;
    border: 2px solid white;
    border-radius: 5px;
    height: 100px;
}

/*Parameter to the button container*/
#controls {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

/*Style the button*/
#controls #btn1 {
    display: inline-block;
    padding: 15px 45px;
    font-family: 'Damion';
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #03396c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #fafafa;
    cursor: pointer;
}

/*Effect to the click button*/
#controls #btn1:active {
    box-shadow: 0 5px #ff4101;
    transform: translateY(4px);
}

/*Style the message box*/
.message {
    display: flex;
    word-wrap: break-word;
    color: white;
    padding: 5vw;
    margin-top: 40px;
    border: 2px solid white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 62.5vw;
    height: 62.5vh;
    background-color: #03396c;
    box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .6);
}

/*Style the message text*/
.output {
    font-family: 'Damion';
    font-size: 5vh;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1vh;
    
}

/*& -----------------PHONE CONTENT ON RIGHT SETTINGS START-------------*/

@media only screen and (max-width: 750px) {
    .message {
        width: 90.5vw;
        height: 62.5vh;
    }

    .output {
        font-size: 5vh;
        letter-spacing: 0.5vh;
    }
}